body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


/* Header styles */
#header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Body styles */
#main {
    font-family: Arial, sans-serif;
    margin: 0 !important;
    padding: 0;
}

/* Footer styles */
#footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#chapter-selection {
    width: 100%;
    justify-content: center;
    display: grid;
    margin-top: 50px;
}

#studying-title {
    font-size: 2em;
    text-align: center;
}

#chapter-dropdown {
    font-size: 25px;
    border-radius: 5px;
    width: 50%;
    height: 40px;
    justify-self: center;
    margin-top: 16px;
}

#study-button {
    width: 30%;
    height: 40px;
    font-size: 20px;
    margin-top: 25px;
    justify-self: center;
    color: cornflowerblue;
    background-color: white;
    border: 2px solid cornflowerblue;
    border-radius: 7px;
    visibility: hidden;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

#study-button:hover {
    background-color: cornflowerblue;
    color: white;
    border: none;
}

#back-to-study-button {
    width: 100px;
    height: 40px;
    font-size: 20px;
    margin-top: 25px;
    justify-self: center;
    color: cornflowerblue;
    background-color: white;
    border: 2px solid cornflowerblue;
    border-radius: 7px;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

#back-to-study-button:hover {
    background-color: cornflowerblue;
    color: white;
    border: none;
}

#chapter-title {
    font-size: 2em;
    margin-top: 50px;
}

#chapter-summary {
    width: 70%;
}

#chapter-overview {
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-top: 25px;
    margin-left: 5%;
    margin-right: 5%;
}

.chapter-button {
    width: 80px;
    height: 40px;
    font-size: 20px;
    color: cornflowerblue;
    background-color: white;
    border: 2px solid cornflowerblue;
    border-radius: 7px;
    margin: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.chapter-button:hover {
    background-color: cornflowerblue;
    color: white;
    border: none;
}

#chapters-div {
    display: table;
}

#reader {
    display: none;
    position: absolute;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 5%;
}