/* Header styles */
#header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Body styles */
#body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Footer styles */
#footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}